@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-medWhite text-slate-900 antialiased font-sans selection:bg-blue-200 selection:text-blue-900;
  }
}

/* Custom Print Styles for Certified Patient Reports & Invoices */
@media print {
  body * {
    visibility: hidden;
  }

  #printable-area,
  #printable-area * {
    visibility: visible;
  }

  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
